body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    flex-direction: column;
    border-radius: 150px;
    width: 150px;
    height: 150px;
    background: rgb(8,24,131);
    background: linear-gradient(180deg, rgba(8,24,131,1) 5%, rgba(0,212,255,1) 100%);
    position: absolute;
}
section{
    top: 400px;
    height: 500px;
    width: 150px;

}
.one{
    z-index: 10;
}
.two{
    top: 120px;
    z-index: 9;
}
.three{
    top: 240px;
    z-index: 8;
}
.four{
    top: 360px;
    z-index: 7;
}