html{
    font-size: 62.5%;
}
.px{
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: 1px solid black;
    font-size: 20px;
}
.rem{
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border: 1px solid black;
    font-size: 2rem;
}
.vh{
    height: 100vh;
    width: 100vw;
    background-color: lightgreen;
    border: 1px solid black;
}

.porcentaje{
    width: 100%;
    height: 10px;
    background-color: lightsalmon;
    border: 1px solid black;
}

div{
    margin: 1rem;
}