div{
    display: flex;
    color: white;
    background-color: black;
    border: 2px solid #ffffff;
    margin: 20px;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
}