div{
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    color: white;
}
body{
    margin: 0px;
}
a{
    color: blueviolet;
    margin: 20px;
}
button{
    color: green;
    width: 200px;
    height: 200px;
    margin: 20px;

}